.friends {
  flex: 1;
  padding: 1rem 1rem 0 0;
  .friends-top {
    height: 3rem;
  }
  .friends-heading {
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  .friends-search-wrapper {
    position: relative;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .friends-search {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .friends-search-box {
      width: 100% !important;
      min-width: 2rem;
    }
  }
  .friendlist {
    .friendlist-content {
      padding-left: 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}

.friends-dropdown {
  position: absolute;
  top: calc(100% - 0.5rem);
  left: 1rem;
  right: 0;
  z-index: 100;
}

.web {
  .friendlist {
    height: calc(100vh - 18.5rem);
  }
}
.mobile {
  .friendlist {
    height: calc(100vh - 17.5rem);
  }
}
