.contacts {
  width: 100vw;
  overflow-y: auto;
  .contacts-heading {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .contacts-div {
    .contacts-div-content {
      padding-left: 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
.web {
  .contacts-div {
    height: calc(100vh - 12rem);
  }
}
.mobile {
  .contacts-div {
    height: calc(100vh - 11rem);
  }
}
