.inputbox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    border: 3px solid transparent !important;
    &:disabled {
      background-color: var(--disabled-dark-brown) !important;
    }
  }
}
.border {
  input {
    border-color: var(--light-brown) !important;
  }
}
.inputbox:focus-within {
  input {
    border-color: var(--disabled-dark-brown) !important;
  }
}

.inputbox.error {
  input {
    border-color: var(--red) !important;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  p {
    font-weight: 1000;
    margin: 0;
    font-size: 0.8rem;
  }
  .tooltip {
    color: var(--red);
  }
}
